{% extends 'base.html.twig' %}

{% block title %}Catalogue de jeux
{% endblock %}

{% block body %}
	<main class="flex flex-col">
	<h1 class="text-4xl text-white underline underline-offset-8 p-8">Notre Catalogue de jeux : </h1>
		<section class="flex justify-center">
			<section class="flex max-sm:flex-col max-sm:flex-col-reverse ">
				<form class="max-w-lg mx-auto" method="get">
					<div class="flex ">
						<button id="dropdown-button" data-dropdown-toggle="dropdown" class="z-10 whitespace-nowrap inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 " type="button">Toutes les catégories
							<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
							</svg>
						</button>
						<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
							<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
								<li>
									<a href="{{path('app_jeux')}}">
										<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tous les jeux</button>
									</a>
								</li>
								{% for allCategories in allCategorie %}
									<li>
										<a href="{{path('app_jeux',{id:allCategories.id})}}">
											<button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{allCategories.nom}}</button>
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</form>
				<div id="eff" class="relative w-full flex gap-12">
					{{ form_start(form)}}
					{{ form_widget(form.searcht)}}
					<button type="submit" class="absolute  p-2.5 text-sm font-medium h-full text-white bg-[#e58f28] rounded-e-lg border border-[#e58f28]  focus:ring-4 focus:outline-none focus:ring-blue-300">
						<svg class="w-4 h-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
						</svg>
					</button>
					{{ form_end(form)}}
					<a class="self-center underline hover:text-[#e58f28]" href="{{path('app_jeux')}}">Effacer</a>
				</div>
			</section>
		</section>

		<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 m-[3%]">
			{% for allJeuxs in allJeux %}
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-2xl shadow-[0_10px_90px_0px_rgba(255,255,255,0.6)] dark:bg-gray-800 dark:border-gray-700">
						<div class="card ">
							<div class="wrapper">
								<img src="{{allJeuxs.img ? asset('img/' ~ allJeuxs.img)}}" class="cover-image"/>
							</div>
							<img src="{{allJeuxs.img3d ? asset('img/' ~ allJeuxs.img3d)}}" class="character"/>
						</div>
						<div class="p-5 flex flex-col content-between">
							<a href="{{path('app_jeux_description',{id:allJeuxs.id})}}">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center underline">{{allJeuxs.nom}}</h5>
							</a>
							<p class="h-48 flex mb-3 font-normal text-gray-700 dark:text-gray-400 text-center items-center">{{allJeuxs.description}}</p>
							<div class="flex justify-between items-center gap-4 relative -bottom-2 ">
								<a href="{{path('app_jeux_description',{id:allJeuxs.id})}}" class=" flex gap-2 items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#f95652] rounded-lg hover:bg-[#2e2e2e] focus:ring-4 focus:outline-none focus:ring-blue-300 ">
									Voir plus
									<svg class="h-6 w-6 fill-[white] " xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512"><path d=" M192 64C86 64 0 150 0 256S86 448 192 448l256 0c106 0 192-86 192-192s-86-192-192-192L192 64zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24l0 32 32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0 0 32c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-32-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l32 0 0-32z"/></svg>
								</a>
								<div id="panier" class="flex flex-col text-center items-center">
									<a href="{{path('app_panier_add' , {'id':allJeuxs.id})}}">
										<svg class="h-6 w-6 " xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512"><path d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192 32 192c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512L430 512c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32l-85.6 0L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192l-232.6 0L253.3 35.1zM192 304l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16zm128 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg>
									</a>
									<p class="text-xs">Ajout au panier</p>
								</div>
								<p class="bg-[#e58f28] p-2 rounded text-white">Prix :
									{{ (allJeuxs.prix * (1 - (allJeuxs.reduction / 100)))|number_format(2) }}
									€</p>
							</div>
						</div>
					</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
