
<footer class="bg-[#272727] border-gray-200">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white sm:text-center ">© 2024 <a href="{{path("app_main")}}" class="hover:underline">E-Gaming™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white  sm:mt-0">
     <li>
            <a href="{{path('app_main')}}" class="hover:underline me-4 md:me-6">Acceuil</a>
        </li>
        <li>
            <a href="{{path('app_mentionlegale')}}" class="hover:underline me-4 md:me-6">Mention Légal</a>
        </li>
        <li>
            <a href="{{path('app_condition')}}" class="hover:underline me-4 md:me-6">Condition de confidentialité</a>
        </li>
        <li>
            <a href="{{path('app_cgucgv')}}" class="hover:underline me-4 md:me-6">CGU / CGV</a>
        </li>
        <li>
            <a href="{{path('app_contact')}}" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
